.MuiListItemText-root {
    text-align: left;
}

.vignette-linear {
    position: relative;
    display: block;
}

.vignette-linear:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(transparent 30%, black 110%);
}

.MuiChip-root {
    margin-right: 5px !important;
}

.ratingContainer {
    padding: 0 !important;
}

.imageSliderMovieTitle {
    /* text-shadow: 1px 1px 2px black; */
    color: white;
}

.imageSliderMovieDes {
    /* text-shadow: 1px 1px 10px black; */
    color: white;
}

.imageSliderContents {
    z-index: 2;
}